/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*  Set the font */
body {
  font-family: "Arial", sans-serif;
}


/* STYLES */
/* Write your CSS below */
header {
  background-image: url("../images/apple-pie.jpg");
  color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 12px;
}

.main {
  margin: 60px 80px 60px 80px;
}

.intro {
  text-align: center;
  border-bottom: 2px solid grey;
}

.txt {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ingredients {
  padding: 30px 0px 30px 0px;
  text-align: center;
  border-bottom: 2px solid grey;
}

.directions {
  padding: 30px 0px 30px 0px;
}

li {
  list-style: none;
}

li::before {
  content: "- ";
}